<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
        <p>@ViewBag.WelcomeMessage</p>
        <form action="/action_page.php" id="usrform">
            Name: <input type="text" name="usrname">
            <input type="submit">
        </form>

<textarea name="comment" form="usrform">Enter Comment here...</textarea>
    </div>
</body>
</html>
